<div id="fullscreen_bg" class="fullscreen_bg" >

<div class="container">

	<div class="form-signin">
		<h1 class="form-signin-heading text-muted">Sign In</h1>
		<div class="error-message">{{message}}</div>
		<input [(ngModel)]="user.name"  type="text" class="form-control" placeholder="User name" required="" autofocus="">
		<input [(ngModel)]="user.password"  type="password" class="form-control" placeholder="Password" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">
			Sign In
		</button>
	</div>
</div>
